/* ESTILOS BASICOS MAIN */
.body__about {
    margin: 0;
    padding: 0;
    background: linear-gradient(#F7FAFF, #000);
    color: #151516;
}

.bloque {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 90%;
    font-size: 1.5em;
    margin: 2%;
    padding-left: 3%;
}

.bloque p {
    text-align: center;
    text-wrap: balance;
}