/* ESTILOS BASICOS MAIN */
.body__gradient {
    background: linear-gradient(#F7FAFF, #000);
    color: #151516;
}

.bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 4%;
}

.body__about {
    background-image: url('../assets/img/concesionarias.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.card__about {
    min-width: 30%;
    border: 1px solid #111;
    outline: 1px solid #fff;
    border-radius: 10px;
    background-color: #0007;
    padding: 6%;
    margin: 4% 5%;
    text-align: center;
    box-shadow: 0 0 10px 0 #0007;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}


.card__desc {
    font-size: 1.9em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #0009;
}

.card__about:nth-child(1) {
    animation-delay: 0s;
}

.card__about:nth-child(2) {
    animation-delay: 0.5s;
}

.card__about:nth-child(3) {
    animation-delay: 1s;
}

.card__about:nth-child(4) {
    animation-delay: 1.5s;
}

.card__about:nth-child(5) {
    animation-delay: 2s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card__desc:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.contact__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__list li {
    list-style-type: none;
    padding: 2%;
    margin-bottom: 6%;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    background-color: #0007;
    border-radius: 10px;
    border: 1px solid #111;
    outline: 1px solid #fff;
    box-shadow: 0 0 10px 0 #0007;
    text-shadow: 2px 2px 4px #0009;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.contact__list li:hover {
    transform: scale(1.05);
    background-color: #0009;
}

.contact__list a {
    text-decoration: none;
    color: #6bb2f8;
    font-size: .8em;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;

}

.contact__list a:hover {
    color: #a1c9f2;
    text-decoration: underline;
}

.map__conteiner iframe {
    max-width: 100%;
}