.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    }

.main h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    }
.main p {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    }
.main h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    }
.main img {
    max-width: 70%;   
    margin-top: 2%;
    margin-bottom: 5%;
    }
    

