<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/login.css">

    <title>LOS INDOMABLES</title>
</head>

<body>
    <header class="header" id="header">
    </header>

    <main class="main">
        <div class="login" id="app">
            <fieldset class="form__login">
                <legend>
                    <h2>Ingreso</h2>
                </legend>

                <form class="form" @submit.prevent="login">
                    <div class="form__div">
                        <label for="emailLog">Email:</label>
                        <input type="email" id="emailLog" name="emailLog" v-model="email"
                            placeholder="Ingresa tu Usuario..." aria-describedby="check__userLog">
                        <div id="check__userLog">&nbsp;</div>
                    </div>

                    <div class="form__div">
                        <label for="passwordLog">Contraseña:</label>
                        <input type="password" id="passwordLog" name="passwordLog" v-model="password"
                            placeholder="Ingresa tu contraseña..." aria-describedby="check__passwordLog">
                        <div id="check__passwordLog">&nbsp;</div>
                    </div>
                    <div class="form__div">
                        <button class="list--login" type="submit">Ingresar</button>
                    </div>
                </form>
                <div v-if="message">{{ message }}</div>
                <div v-if="error">{{ error.message }}</div>
            </fieldset>
        </div>
    </main>

    <footer class="footer" id="footer">
    </footer>

    <script src="https://kit.fontawesome.com/dc7c87b4fd.js" crossorigin="anonymous"></script>
    <script src="./JS/responsiveMenu.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/responsiveHeader.js"></script>
    <script src="./JS/login.js"></script>
</body>

</html>