<section class="nav__logo">
    <img class="nav__img" src="./assets/img/logo.webp" alt="logo">
    <a href="index.html" class="nav__index">
        <h1 class="nav__title">LOS INDOMABLES</h1>
        <p>Fuerza y Pasión por los Autos</p>
    </a>
</section>

<div class="responsive__menu-abrir" id="abrir"><i class="fa-solid fa-bars"></i></div>

<nav class="nav__conteiner" id="nav">
    <div class="responsive__menu-cerrar" id="cerrar"><i class="fa-solid fa-xmark"></i></div>

    <ul class="list">
        <li v-if="user.length == 0" class="list__li"><a class="list__item list--register" href="./register.html">Registrarse</a></li>
        <li v-else class="list__li"><a class="list__item list--register" href="./profile.html">{{user[0].name}}</a></li>



        <li v-if="user.length == 0" class="list__li"><a class="list__item list--login" href="./login.html">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li v-else class="list__li"><a class="list__item list--login" href="./login.html">Salir <i class="fa-solid fa-right-from-bracket"></i></i></a></li>



        <li v-if="user.length > 0 && user[0].admin" class="list__li"><a class="list__item list--admin" href="./admin.html">Admin</a></li>
        <li class="list__li"><a class="list__item list--cart" href="./buy.html"><i class="fa-solid fa-cart-shopping"></i></a></li>            
    </ul>
</nav>`