:root {
    --font-family: "Jura", sans-serif;
    --nav-color: #b3b5b9dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    font-family: var(--font-family);
}

/* ESTILOS BASICOS NAV */

.header {
    position: sticky;
    min-height: 60px;
    top: 0;
    display: flex;
    background-color:var(--nav-color);
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}


.nav__logo {
    display: flex;
    min-width: 30%;
}

.nav__img {
    max-width: 15%;
    padding: 1%;
}

.nav__index {
    text-decoration: none;
    color: #0009;
}

.nav__title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 4%;
}


.list {
    display: flex;
}

.list__li {
    list-style: none;
}

.list__item {
    text-decoration: none;
    color: #000;
    margin: 15px;
}

.list--register:hover {
    color: #F7FAFF;
    font-weight: 400;
}

.list--login {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #57AF74;
}

.list--login:hover {
    outline: 2px solid #F7FAFF;
}

.list--logout {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #e35647;
}

.list--logout:hover {
    outline: 2px solid #F7FAFF;
}

.list--cart {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #F7FAFF;
}

.list--cart:hover {
    outline: 2px solid #0009;
}


.responsive__menu-abrir,
.responsive__menu-cerrar {
    display: none;
}

@media screen and (max-width: 1080px) {
    .responsive__menu-abrir {
        display: block;
        font-size: 1.8em;
        margin-right: 2%;
    }

    .responsive__menu-cerrar {
        display: block;
        font-size: 1.8em;
        text-align: right;

    }

    .nav__conteiner {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        min-height: 100vh;
        min-width: 30vw;
        background-color: #b3b5b9fe;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
        transform: translateY(-10px);

    }

    .visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .list {
        flex-direction: column;
        align-items: end;
    }

    .list__li {
        margin-top: 4rem;
    }  

}

/* ESTILOS BASICOS MAIN */

.main {
    min-height: 100vh;
}



/* ESTILOS BASICOS FOOTER */


@keyframes engranaje {
    0% {
        transform: translateX(-50px) rotate(0deg);
    }

    50% {
        transform: translateX(0) rotate(180deg);
    }

    100% {
        transform: translateX(50px) rotate(360deg);
    }
}


.footer__img {
    animation: engranaje 4s ease-in-out infinite alternate;
}

.footer__img {
    width: 35%;
    margin-left: 5%;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:var(--nav-color);
    align-items: end;
    justify-content: center;
    padding: 1.5%;
}

.nav__item {
    list-style: none;
    margin: 5px;
}

.nav__item a {
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
}

.nav__item a:hover {
    color: #F7FAFF;
    font-weight: 400;
}

.social__media {
    display: flex;
    flex-direction: row;
    justify-content: end;          
}

.team {
    display: flex;
    justify-content: center;
    font-size: .6em;
    text-align: center;
    text-wrap: balance;
    background-color:var(--nav-color) ;
    padding: 2% 0;
    
}

@media screen and (max-width: 1080px) {
    .footer__img {
        width: 45%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 550px) {
    .footer__img {
        width: 55%;
        margin-left: 5%;
    }
}