<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/register.css">

    <title>LOS INDOMABLES</title>
</head>

<body>
    <header class="header" id="header">


    </header>

    <main class="main">

        <div class="register" id="app">

            <fieldset class="form__register">
                <legend>
                    <h2>Modificar Registro</h2>
                </legend>
                <form>
                    <div class="form__div">
                        <label for="id">ID</label>
                        <input type="text" name="id" id="id" disabled v-model="user.id">
                    </div>
                    <div class="form__div">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" v-model="user.name">
                    </div>
                    <div class="form__div">
                        <label for="lastname">Apellido</label>
                        <input type="text" name="lastname" id="lastname" v-model="user.lastname">
                    </div>
                    <div class="form__div">
                        <label for="mail">Email</label>
                        <input type="email" name="mail" id="mail" v-model="user.mail">
                    </div>
                    <div class="form__div">
                        <label for="genero">Género:</label>
                        <select id="genero" name="genero" required v-model="user.gender">
                            <option value="">Seleccione una opción</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    <div class="form__div">
                        <label for="age">Edad</label>
                        <input type="number" name="age" id="age" v-model.number="user.age">
                    </div>
                    <div class="form__div radio">
                        <h4>Tipo de Usuario:</h4>
                        <span class="radio__btn">
                            <input type="radio" id="tipodeusuario1" name="tipodeusuario" value="Particular" required v-model="user.typeUser">
                            <label for="tipodeusuario1">Particular</label>
                        </span>
                        <span class="radio__btn2">
                            <input type="radio" id="tipodeusuario2" name="tipodeusuario" value="Consecionaria" required v-model="user.typeUser">
                            <label for="tipodeusuario2">Consecionaria</label>
                        </span>
                    </div>
                    <div class="form__div">
                        <label for="password">Contraseña</label>
                        <input type="text" name="password" id="password" v-model.number="user.password">
                    </div>
                    <div class="form__div radio">
                        <h4>Administrador:</h4>
                        <span class="radio__btn">
                            <input type="radio" id="tipodeusuario3" name="administrador" value="true" required v-model="user.admin">
                            <label for="tipodeusuario3">true</label>
                        </span>
                        <span class="radio__btn2">
                            <input type="radio" id="tipodeusuario4" name="administrador" value="false" required v-model="user.admin">
                            <label for="tipodeusuario4">false</label>
                        </span>
                    </div>
                    
                    <div class="form__div">
                        <button class="list--login" type="button" v-on:click="modificar()">Modificar</button>
                    </div>
                </form>

            </fieldset>

        </div>


    </main>
    <footer class="footer" id="footer">

    </footer>
    <script src="https://kit.fontawesome.com/dc7c87b4fd.js" crossorigin="anonymous"></script>
    <script src="./JS/responsiveMenu.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/responsiveHeader.js"></script>
    <script src="./JS/users.js"></script>
</body>

</html>