<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/buy.css">

    <title>LOS INDOMABLES</title>
</head>

<body>
    <header class="header" id="header">


    </header>

    <main class="main">


        <div id="app" class="container">
            <h1 class="text-center m-2">Vehículos</h1>

            <br>
            <a class="btn btn-primary" href="createItem.html">Agregar</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , error al cargar los datos</p>

            </div>
            <div v-else>
                <section v-if="loading">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Fabricante</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Año</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>

                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="vehiculo in vehiculos" :key="vehiculo.id">
                                    <td scope="row">{{vehiculo.id}}</td>
                                    <td>{{vehiculo.brand}}</td>
                                    <td>{{vehiculo.model}}</td>
                                    <td>{{vehiculo.year}}</td>
                                    <td>{{vehiculo.price}}</td>
                                    <td>{{vehiculo.stock}}</td>
                                    <td>
                                        <img width="60" :src="vehiculo.image" :alt="vehiculo.model">
                                    </td>

                                    <td>
                                        <a class="btn btn-primary m-2" :href="'updateItem.html?id=' + vehiculo.id">Editar</a>
                                        
                                        <button type="button" class="btn btn-danger m-2"
                                            v-on:click="eliminar(vehiculo.id)">Eliminar</button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>


    </main>
    <footer class="footer" id="footer">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="https://kit.fontawesome.com/dc7c87b4fd.js" crossorigin="anonymous"></script>
    <script src="./JS/responsiveMenu.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/responsiveHeader.js"></script>
    <script src="./JS/vehiculos.js"></script>
</body>

</html>